# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
# Outputs
#ReadMe.html
#DHW/Daily_OISST_v2/*
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.DS_Store
